<h1>Transactions</h1>

<%= link_to "Add transaction", new_transaction_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Account</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @transactions %>
  </tbody>
</table>

<% if @page.prev %>
  <%= link_to "Previous page", transactions_path(page: @page.prev) %>
<% end %>

<% if @page.next %>
  <%= link_to "Next page", transactions_path(page: @page.next) %>
<% end %>
